# NEXT_PUBLIC_SITE_URL=http://localhost:3000
# NEXT_PUBLIC_HOTLINE=1900 9309

# # Supabase Auth (safe to expose to browser; never use the service-role key here)
# NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-key
# AUTH_SESSION_SECRET=generate-a-64-character-random-secret
# SUPABASE_SECRET_KEY=sb_secret_server_only

# # Postgres (Prisma). Xoá # để bật khi backend sẵn sàng.
# # DATABASE_URL="postgresql://user:password@localhost:5432/aloha"

NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_HOTLINE=1900 9309

DATABASE_URL="postgresql://postgres.todjyytrsrnoodgsgvap:Devkiemcom123@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true&schema=alohadb"
DIRECT_URL="postgresql://postgres.todjyytrsrnoodgsgvap:Devkiemcom123@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres?schema=alohadb"
NEXT_PUBLIC_SUPABASE_URL=https://todjytyrsrnoodgsgvap.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Rr5LVnXSjpJCgVJmfwpaIg_ZPyFrth2
AUTH_SESSION_SECRET=f8cedd4cc5509d065813312b7cfd4c685c4b5f184afb8a1fc34ea23aace9b543
